.back-to-top {
    position: fixed; /* Posicionamento fixo na tela */
    bottom: 20px; /* Distância da parte inferior da tela */
    right: 20px; /* Distância da parte direita da tela */
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    border-radius: 50%; /* Borda arredondada */
    background-color: #FAFAFA; /* Cor do botão */
    color: black; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    font-size: 20px; /* Tamanho da fonte */
    cursor: pointer; /* Indicador de cursor ao passar o mouse */
    z-index: 100; /* Posicionamento na frente de outros elementos */
    transition: all 0.3s ease; /* Efeito de transição suave */
    
    border-color: black;

    margin-bottom: 75px;
}

.back-to-top:hover {
    background-color: #B1B1B1;
    color: #FAFAFA;
    font-weight: bolder;
}

.back-to-top:active {
    transform: scale(0.9); /* Reduzir o tamanho do botão ao pressionar */
}