.background-image {
    margin-top: -20px;
    padding-top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 475px;
    background-image: url("assets/images/ambientes/sala-header.png");
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    border-radius: 25%;
    box-shadow: 0 0 20px rgb(245, 245, 244);
    margin-right: 35px;
}

header nav {
    text-align: center;
    backdrop-filter: blur(4px);
}

header div {
    margin-top: 5px;

    padding-bottom: 15px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.438);
    
    margin-left: -45px;
}

header li {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 800;
    
}

header li a {
    text-decoration: none;
    color: #343434;
    transition: .7s;
    
    padding: 4px;
    border-radius: 7%;
}

header li a:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: large;

    padding: 6px;

    text-shadow: 0 0 20px rgb(245, 245, 244);
}
