
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #E3E3E3;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    background-color: #FAFAFA;
    margin: auto;
    max-width: 1300px;
    color: #343434;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

main p {
    text-align: justify;
    text-indent: 12pt;
    line-height: 30px;
    color: #343434;
}

article, h2 {
    text-align: left;
    /* font-family: "Dancing Script", cursive; */
}

article p {
    text-indent: 0;
}

mark {
    background-color: #FFC8A2;
}

.feedbacks {
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.container-text {
    padding-left: 5px;
    font-size: large;
}

.container-text, .container-image {
    flex: 1 1 45%;
    margin: 10px;
}

.container-image img {
    max-width: 100%;
    height: auto;
    
    margin-left: 35px;
}

.topics {
    text-align: left;
    line-height: 50px;
}

li.number {
    list-style: decimal;
}

ul.topics p {
    font-size: medium;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .container-text, .container-image {
        flex: 1 1 100%;
    }
}

.polaroid {
    transition: .7s;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.polaroid:hover {
    width: 70%;
}

abbr {
    text-decoration: none;
}

/* hr */
hr {
    color: transparent;
}
